header{
  background-color:blue;
  color:white;
  text-align:center;
  width:80%;
  position:relative;
  left:10%;
  font-family:times;
}
.column-1{
  background-color:yellow;
  float:left;
  display:block;
  width:45%;
}
.column-2{
  background-color:red;
  display:block;
  float:right;
  width:45%;
}
footer{
  clear:both;
  background-color:green;
  font-family:"arial";
}
a{
  font-style:italic;
}
a:hover{
  font-weight:bold;
}